<!-- Copyright © Marina Gerace. All rights reserved -->
{% load i18n %}

<div class="jumbotron margintop20">
    <div class="row">

        <!-- image -->
        <div class="col-sm-4">
            <img class="height200 thumbnail " src="{{ MEDIA_URL }}css/img/burger.jpg" alt="logo" />
        </div>

        <!-- message -->
        <div class="col-sm-8">
            <h1>{% trans "Order your burger" %}</h1>
            <p>{% trans "Choose the ingredients, make the order and...wait home for the delivery!" %}</p>
        </div>
    </div>
</div>